<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<title>BorrowThings</title>
</head>
<body>

	<h1>Form</h1>
    <form action="#" th:action="@{/user/insert}" th:object="${user}" method="post">
    	<p>Username : <input type="text" th:field="*{username}" /></p>
    	<p>Password : <input type="password" th:field="*{password}" /></p>
    	<p>Enabled : <input type="checkbox" th:field="*{enabled}" /></p>
    	<p><select th:field="*{role.id}">
		    <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
		</select></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
</body>
</html>
