<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Form</h1>
  <form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
  	<input type="hidden" th:field="*{id}" th:value="${user.id}"/>
  	<p>Username : <span th:text="${user.username}"/></p>
  	<p>Enabled : <input type="checkbox" th:field="*{enabled}" /></p>
  	<p>
  		<select th:field="*{role.id}">
    	<option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
	</select>
	</p>
    <p>
    	<input type="submit" value="Apply Changes"/><a href="/user/all">Cancel</a>
   	</p>
  </form>

</body>
</html>