<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>BorrowThings</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <table class="table">
            <caption>Items</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Classroom</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${items}">
                    <td th:text="${item.id}" />
                    <td th:text="${item.name}" />
                    <td th:text="${item.description}" />
                    <td th:text="${item.stock}" />
                    <td th:text="${item.classroom.name}" />

                    <td>
                        <a th:href="@{/item/{id}(id = ${item.id})}">Modify</a>
                        <a th:href="@{/item/delete/{id}(id = ${item.id})}">Delete</a>
                    <td>
                </tr>
            </tbody>
        </table>

        <a btn-flat th:href="@{/item/create}">Create a item</a>

    </div>

</body>

</html>