<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>BorrowThings</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <table class="table">
            <caption>Classrooms</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="classroom: ${classrooms}">
                    <td th:text="${classroom.id}" />
                    <td th:text="${classroom.name}" />
                    <td>
                        <p>
                        <a class="btn" th:href="@{/classroom/{id}(id = ${classroom.id})}">Modify</a>
                        </p>

                        <form action="#" th:action="@{/classroom/delete/{id}(id = ${classroom.id})}" method="post">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>

                    <td>
                </tr>
            </tbody>
        </table>
        <a btn-flat th:href="@{/classroom/create}">Create a classroom</a>

    </div>
</body>

</html>