<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>BorrowThings</title>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</head>

<body>
    <div th:replace="~{fragments/header :: header}">Header</div>

    <div class="container">
        <form action="#" th:action="@{/userItem/insert}" th:object="${userItem}" method="post">

            <p><select th:field="*{item.id}" name="itemId">
                    <option th:each="item: ${items}" th:value="${item.id}" th:text="${item.name}" value="">
                    </option>
                </select></p>

            <p><select th:field="*{user.id}" name="userId">
                    <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}" value="">
                    </option>
                </select></p>


            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>


</body>

</html>